USE [master]
GO
/****** Object:  Database [FTL_HRMS]    Script Date: 10/7/2017 7:37:57 PM ******/
CREATE DATABASE [FTL_HRMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FTL_HRMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FTL_HRMS.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FTL_HRMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FTL_HRMS_log.ldf' , SIZE = 1856KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FTL_HRMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FTL_HRMS]
GO
/****** Object:  User [yeasin]    Script Date: 10/7/2017 7:37:57 PM ******/
CREATE USER [yeasin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [IIS APPPOOL\DefaultAppPool]    Script Date: 10/7/2017 7:37:57 PM ******/
CREATE USER [IIS APPPOOL\DefaultAppPool] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/7/2017 7:37:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ApplicationUsers]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUsers](
	[Id] [nvarchar](128) NOT NULL,
	[CustomUserId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[RoleId] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ApplicationUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IdentityRoles]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.IdentityRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IdentityUserClaims]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.IdentityUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IdentityUserLogins]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityUserLogins](
	[UserId] [nvarchar](128) NOT NULL,
	[LoginProvider] [nvarchar](max) NULL,
	[ProviderKey] [nvarchar](max) NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.IdentityUserLogins] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IdentityUserRoles]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityUserRoles](
	[RoleId] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[IdentityRole_Id] [nvarchar](128) NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.IdentityUserRoles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentItemId] [int] NULL,
	[Name] [nvarchar](30) NOT NULL,
	[ControllerName] [nvarchar](max) NOT NULL,
	[ActionName] [nvarchar](max) NOT NULL,
	[AllFunctions] [nvarchar](max) NULL,
	[ViewNames] [nvarchar](max) NULL,
	[Remarks] [nvarchar](max) NULL,
	[MenuOrder] [int] NOT NULL,
	[IcnClass] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.MenuItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](128) NULL,
	[MenuItemIdList] [nvarchar](max) NULL,
	[CanView] [bit] NOT NULL,
	[CanEdit] [bit] NOT NULL,
	[CanDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.RolePermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_BonusAndPenalty]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_BonusAndPenalty](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Amount] [float] NOT NULL,
	[Remarks] [nvarchar](max) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.tbl_BonusAndPenalty] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Branch]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Branch](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[OpeningTime] [datetime] NOT NULL,
	[EndingTime] [datetime] NOT NULL,
	[IsLateCalculated] [bit] NOT NULL,
	[LateConsiderationTime] [float] NULL,
	[LateConsiderationDay] [float] NULL,
	[LateDeductionPercentage] [float] NULL,
	[IsOvertimeCalculated] [bit] NOT NULL,
	[OvertimeConsiderationTime] [float] NULL,
	[OvertimePaymentPercentage] [float] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_Branch] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_BranchTransfer]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_BranchTransfer](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[FromBranchId] [int] NOT NULL,
	[ToBranchId] [int] NOT NULL,
	[TransferDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_BranchTransfer] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Company]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Company](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](250) NULL,
	[Website] [nvarchar](250) NULL,
	[Phone] [nvarchar](450) NULL,
	[Mobile] [nvarchar](450) NULL,
	[AlternativeMobile] [nvarchar](450) NULL,
	[RegistrationNo] [nvarchar](250) NULL,
	[RegistrationDate] [datetime] NOT NULL,
	[TINNumber] [nvarchar](250) NULL,
	[StartingDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_Company] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Department]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Department](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](250) NOT NULL,
	[DepartmentGroupId] [int] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_Department] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_DepartmentGroup]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DepartmentGroup](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](250) NOT NULL,
	[CreatedBy] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_DepartmentGroup] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_DepartmentTransfer]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DepartmentTransfer](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[FromDesignationId] [int] NOT NULL,
	[ToDesignationId] [int] NOT NULL,
	[TransferDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_DepartmentTransfer] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Designation]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Designation](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](250) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
	[CreatedBy] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_Designation] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_DeviceAttendance]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DeviceAttendance](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](15) NULL,
	[CheckTime] [datetime] NOT NULL,
	[IsCalculated] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_DeviceAttendance] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_DisciplinaryAction]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DisciplinaryAction](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[DisciplinaryActionTypeId] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Remarks] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tbl_DisciplinaryAction] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_DisciplinaryActionType]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DisciplinaryActionType](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_dbo.tbl_DisciplinaryActionType] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Education]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Education](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[InstituteName] [nvarchar](250) NOT NULL,
	[Program] [nvarchar](250) NOT NULL,
	[Board] [nvarchar](250) NULL,
	[Result] [nvarchar](250) NOT NULL,
	[FromDate] [datetime] NOT NULL,
	[ToDate] [datetime] NOT NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_Education] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Employee]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Employee](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[FathersName] [nvarchar](250) NOT NULL,
	[MothersName] [nvarchar](250) NOT NULL,
	[Gender] [nvarchar](250) NOT NULL,
	[PresentAddress] [nvarchar](250) NOT NULL,
	[PermanentAddress] [nvarchar](250) NOT NULL,
	[Mobile] [nvarchar](450) NOT NULL,
	[Email] [nvarchar](250) NULL,
	[NIDorBirthCirtificate] [nvarchar](250) NOT NULL,
	[DrivingLicence] [nvarchar](250) NULL,
	[PassportNumber] [nvarchar](250) NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[DateOfJoining] [datetime] NOT NULL,
	[SourceOfHireId] [int] NOT NULL,
	[DesignationId] [int] NOT NULL,
	[EmployeeTypeId] [int] NOT NULL,
	[BranchId] [int] NOT NULL,
	[GrossSalary] [float] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[IsSystemOrSuperAdmin] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
	[ProbationStatus] [bit] NOT NULL,
	[IsSpecialEmployee] [bit] NOT NULL,
	[ParmanentDate] [datetime] NULL,
	[EmergencyMobile] [nvarchar](450) NULL,
	[RelationEmergencyMobile] [nvarchar](450) NULL,
	[BloodGroup] [nvarchar](max) NULL,
	[MedicalHistory] [nvarchar](max) NULL,
	[Height] [nvarchar](max) NULL,
	[Weight] [nvarchar](max) NULL,
	[ExtraCurricularActivities] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tbl_Employee] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_EmployeeSalaryDistribution]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_EmployeeSalaryDistribution](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[GrossSalary] [float] NOT NULL,
	[BasicSalary] [float] NOT NULL,
	[HouseRent] [float] NOT NULL,
	[MedicalAllowance] [float] NOT NULL,
	[LifeInsurance] [float] NOT NULL,
	[FoodAllowance] [float] NOT NULL,
	[Entertainment] [float] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_EmployeeSalaryDistribution] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_EmployeeType]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_EmployeeType](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_EmployeeType] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Experience]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Experience](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[InstituteName] [nvarchar](250) NOT NULL,
	[InstituteAddress] [nvarchar](250) NOT NULL,
	[Website] [nvarchar](250) NULL,
	[Phone] [nvarchar](450) NULL,
	[Designation] [nvarchar](250) NOT NULL,
	[FromDate] [datetime] NOT NULL,
	[ToDate] [datetime] NOT NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_Experience] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_FestivalBonus]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_FestivalBonus](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[BasedOn] [nvarchar](max) NOT NULL,
	[BonusPersentage] [float] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Remarks] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.tbl_FestivalBonus] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_FileStorage]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_FileStorage](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Path] [nvarchar](max) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_FileStorage] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_FilterAttendance]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_FilterAttendance](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[InTime] [datetime] NOT NULL,
	[OutTime] [datetime] NOT NULL,
	[IsCalculated] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_FilterAttendance] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Holiday]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Holiday](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Remarks] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.tbl_Holiday] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Images]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Images](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[Image] [varbinary](max) NOT NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_Images] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_LeaveCount]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LeaveCount](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[LeaveTypeId] [int] NOT NULL,
	[AvailableDay] [float] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_LeaveCount] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_LeaveHistory]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LeaveHistory](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[LeaveTypeId] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[FromDate] [datetime] NOT NULL,
	[ToDate] [datetime] NOT NULL,
	[Day] [int] NOT NULL,
	[Cause] [nvarchar](250) NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[Status] [nvarchar](max) NULL,
	[Remarks] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tbl_LeaveHistory] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_LeaveType]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LeaveType](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Day] [float] NOT NULL,
	[IsEditable] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_LeaveType] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_MonthlyAttendance]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MonthlyAttendance](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[IsCalculated] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_MonthlyAttendance] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_MonthlySalarySheet]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MonthlySalarySheet](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[PaidSalaryDurationId] [int] NOT NULL,
	[GrossSalary] [float] NOT NULL,
	[BasicSalary] [float] NOT NULL,
	[AbsentDay] [float] NOT NULL,
	[AbsentPanelty] [float] NOT NULL,
	[LateDay] [float] NOT NULL,
	[LatePenalty] [float] NOT NULL,
	[UnofficialDay] [float] NOT NULL,
	[UnofficialPenalty] [float] NOT NULL,
	[LeavePenalty] [float] NOT NULL,
	[OthersPenalty] [float] NOT NULL,
	[FestivalBonus] [float] NOT NULL,
	[OthersBonus] [float] NOT NULL,
	[NetPay] [float] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_MonthlySalarySheet] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_PaidSalaryDuration]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PaidSalaryDuration](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[FromDate] [datetime] NOT NULL,
	[ToDate] [datetime] NOT NULL,
	[WorkingDay] [float] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_PaidSalaryDuration] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_PerformanceIssue]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PerformanceIssue](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_dbo.tbl_PerformanceIssue] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_PerformanceRating]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PerformanceRating](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[Rating] [float] NOT NULL,
	[Date] [datetime] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[PerformanceIssueId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_PerformanceRating] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_PromotionHistory]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PromotionHistory](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[FromDesignationId] [int] NOT NULL,
	[ToDesignationId] [int] NOT NULL,
	[PromotionDate] [datetime] NOT NULL,
	[FromSalary] [float] NOT NULL,
	[ToSalary] [float] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_PromotionHistory] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Resignation]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Resignation](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[ResignDate] [datetime] NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[Suggestion] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_Resignation] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_SalaryDistribution]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SalaryDistribution](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[BasicSalary] [float] NOT NULL,
	[HouseRent] [float] NOT NULL,
	[MedicalAllowance] [float] NOT NULL,
	[LifeInsurance] [float] NOT NULL,
	[FoodAllowance] [float] NOT NULL,
	[Entertainment] [float] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_SalaryDistribution] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_SourceOfHire]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SourceOfHire](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_SourceOfHire] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Weekend]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Weekend](
	[Sl] [int] IDENTITY(1,1) NOT NULL,
	[BranchId] [int] NOT NULL,
	[Day] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_Weekend] PRIMARY KEY CLUSTERED 
(
	[Sl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[BranchTransferView]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[BranchTransferView] 
AS
select bt.EmployeeId as Code, e.Name,fb.Name as FromDesignation,tb.Name as ToDesignation,bt.TransferDate 
from tbl_BranchTransfer as bt 
join tbl_Branch as fb on fb.Sl = bt.FromBranchId 
join tbl_Branch as tb on tb.Sl =bt.ToBranchId
join tbl_Employee as e on e.Sl = bt.EmployeeId
GO
/****** Object:  View [dbo].[DepartmentTransferView]    Script Date: 10/7/2017 7:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[DepartmentTransferView] 
AS
select dt.EmployeeId as Code, e.Name,fd.Name as FromDesignation,td.Name as ToDesignation,dt.TransferDate from tbl_DepartmentTransfer as dt 
join tbl_Designation as fd on fd.Sl = dt.FromDesignationId 
join tbl_Designation as td on td.Sl =dt.ToDesignationId
join tbl_Employee as e on e.Sl = dt.EmployeeId
GO
INSERT [dbo].[ApplicationUsers] ([Id], [CustomUserId], [IsActive], [RoleId], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'22424a78-fb6b-4db3-bf16-90747a08e92e', 2, 1, NULL, N'admin@futuristictech.xyz', 0, N'AGDgwfBPUVi8dGBrJwn6Rfa21INfA7prCotRdys1gL/K8nlQcbOzMlft3Vl2nBSSvA==', N'a8def7f9-5470-4bbe-bc72-14485f478190', N'01676272718', 0, 0, NULL, 0, 0, N'admin')
INSERT [dbo].[ApplicationUsers] ([Id], [CustomUserId], [IsActive], [RoleId], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'c5575472-d22a-421f-976c-02792e888d99', 1, 1, NULL, N'systemadmin@futuristictech.xyz', 0, N'AEwOrX8+QMUhzSvj8cNmmFL4QI/2S7ujV36K5hKo5L3fmyLCOUdtK1GOAuVzrDSKaQ==', N'e1b189b4-30b7-497c-af26-dc54b79f25fa', NULL, 0, 0, NULL, 0, 0, N'futuristic')
INSERT [dbo].[IdentityRoles] ([Id], [Name]) VALUES (N'04e3d876-31ca-4e05-b6dd-193ea918dec0', N'System Admin')
INSERT [dbo].[IdentityRoles] ([Id], [Name]) VALUES (N'23826810-48ff-476b-b2d1-1ea893153048', N'Admin')
INSERT [dbo].[IdentityRoles] ([Id], [Name]) VALUES (N'48b64668-cea9-4606-89b3-0e2853df7014', N'Department Head')
INSERT [dbo].[IdentityUserRoles] ([RoleId], [UserId], [IdentityRole_Id], [ApplicationUser_Id]) VALUES (N'04e3d876-31ca-4e05-b6dd-193ea918dec0', N'c5575472-d22a-421f-976c-02792e888d99', NULL, NULL)
INSERT [dbo].[IdentityUserRoles] ([RoleId], [UserId], [IdentityRole_Id], [ApplicationUser_Id]) VALUES (N'994d2a55-1e9f-4e40-bb40-149b9e4a77c6', N'22424a78-fb6b-4db3-bf16-90747a08e92e', NULL, NULL)
SET IDENTITY_INSERT [dbo].[MenuItems] ON 

INSERT [dbo].[MenuItems] ([Id], [ParentItemId], [Name], [ControllerName], [ActionName], [AllFunctions], [ViewNames], [Remarks], [MenuOrder], [IcnClass]) VALUES (1, NULL, N'Manage Menu', N'#', N'#', N'#', N'#', N'#', 1, N'fa fa-file-archive-o')
INSERT [dbo].[MenuItems] ([Id], [ParentItemId], [Name], [ControllerName], [ActionName], [AllFunctions], [ViewNames], [Remarks], [MenuOrder], [IcnClass]) VALUES (2, 1, N'Add Menu Item', N'MenuItems', N'Create', N'Create', N'Create', N'#', 1, NULL)
INSERT [dbo].[MenuItems] ([Id], [ParentItemId], [Name], [ControllerName], [ActionName], [AllFunctions], [ViewNames], [Remarks], [MenuOrder], [IcnClass]) VALUES (3, 1, N'Menu List', N'MenuItems', N'Index', N'Index', N'Index', N'#', 2, NULL)
SET IDENTITY_INSERT [dbo].[MenuItems] OFF
SET IDENTITY_INSERT [dbo].[RolePermissions] ON 

INSERT [dbo].[RolePermissions] ([Id], [RoleId], [MenuItemIdList], [CanView], [CanEdit], [CanDelete]) VALUES (1, N'04e3d876-31ca-4e05-b6dd-193ea918dec0', N'1,2,3,4,5,6,7,8,9,10,56,57,58,59,60,61,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,45,32,33,34,35,36,37,43,44,46,47,48,55,38,39,40,41,42,49,50,51,52,53,54,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81', 1, 1, 1)
INSERT [dbo].[RolePermissions] ([Id], [RoleId], [MenuItemIdList], [CanView], [CanEdit], [CanDelete]) VALUES (2, N'994d2a55-1e9f-4e40-bb40-149b9e4a77c6', N'8,9,10,56,57,58,59,60,61,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,45,32,33,34,35,36,37,43,44,46,47,48,55,38,39,40,41,42,49,50,51,52,53,54,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81', 1, 1, 1)
INSERT [dbo].[RolePermissions] ([Id], [RoleId], [MenuItemIdList], [CanView], [CanEdit], [CanDelete]) VALUES (3, N'b4f77c9b-2aa7-40e5-b563-b583a8828580', N'29,30,31,37,46,47', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[RolePermissions] OFF
SET IDENTITY_INSERT [dbo].[tbl_Branch] ON 

INSERT [dbo].[tbl_Branch] ([Sl], [Name], [Address], [OpeningTime], [EndingTime], [IsLateCalculated], [LateConsiderationTime], [LateConsiderationDay], [LateDeductionPercentage], [IsOvertimeCalculated], [OvertimeConsiderationTime], [OvertimePaymentPercentage], [Status]) VALUES (1, N'Super Admin', N'Dhaka', CAST(N'2017-01-01 00:00:00.000' AS DateTime), CAST(N'2017-01-01 00:00:00.000' AS DateTime), 0, NULL, NULL, NULL, 0, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[tbl_Branch] OFF
SET IDENTITY_INSERT [dbo].[tbl_Department] ON 

INSERT [dbo].[tbl_Department] ([Sl], [Code], [Name], [DepartmentGroupId], [CreatedBy], [CreateDate], [UpdatedBy], [UpdateDate], [Status]) VALUES (1, NULL, N'Super Admin', 1, NULL, CAST(N'2017-01-01 00:00:00.000' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[tbl_Department] OFF
SET IDENTITY_INSERT [dbo].[tbl_DepartmentGroup] ON 

INSERT [dbo].[tbl_DepartmentGroup] ([Sl], [Code], [Name], [CreatedBy], [CreateDate], [UpdatedBy], [UpdateDate], [Status]) VALUES (1, NULL, N'Super Admin', NULL, CAST(N'2017-01-01 00:00:00.000' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[tbl_DepartmentGroup] OFF
SET IDENTITY_INSERT [dbo].[tbl_Designation] ON 

INSERT [dbo].[tbl_Designation] ([Sl], [Code], [Name], [DepartmentId], [RoleName], [CreatedBy], [CreateDate], [UpdatedBy], [UpdateDate], [Status]) VALUES (1, NULL, N'Super Admin', 1, N'Super Admin', NULL, CAST(N'2017-01-01 00:00:00.000' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[tbl_Designation] OFF
SET IDENTITY_INSERT [dbo].[tbl_Employee] ON 

SET IDENTITY_INSERT [dbo].[tbl_Employee] OFF
SET IDENTITY_INSERT [dbo].[tbl_EmployeeType] ON 

INSERT [dbo].[tbl_EmployeeType] ([Sl], [Name], [Status]) VALUES (1, N'Super Admin', 0)
INSERT [dbo].[tbl_EmployeeType] ([Sl], [Name], [Status]) VALUES (2, N'Full Time', 1)
INSERT [dbo].[tbl_EmployeeType] ([Sl], [Name], [Status]) VALUES (3, N'Part Time', 1)
SET IDENTITY_INSERT [dbo].[tbl_EmployeeType] OFF
SET IDENTITY_INSERT [dbo].[tbl_FestivalBonus] ON 

INSERT [dbo].[tbl_FestivalBonus] ([Sl], [BasedOn], [BonusPersentage], [Date], [Remarks]) VALUES (1, N'Basic', 70, CAST(N'2017-10-21 00:00:00.000' AS DateTime), N'Eid')
SET IDENTITY_INSERT [dbo].[tbl_FestivalBonus] OFF
SET IDENTITY_INSERT [dbo].[tbl_LeaveType] ON 

INSERT [dbo].[tbl_LeaveType] ([Sl], [Name], [Day], [IsEditable]) VALUES (1, N'Without Pay', 0, 0)
INSERT [dbo].[tbl_LeaveType] ([Sl], [Name], [Day], [IsEditable]) VALUES (2, N'Earn', 0, 0)
SET IDENTITY_INSERT [dbo].[tbl_LeaveType] OFF
SET IDENTITY_INSERT [dbo].[tbl_SourceOfHire] ON 

INSERT [dbo].[tbl_SourceOfHire] ([Sl], [Name], [Status]) VALUES (1, N'Super Admin', 0)
SET IDENTITY_INSERT [dbo].[tbl_SourceOfHire] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ApplicationUser_Id]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationUser_Id] ON [dbo].[IdentityUserClaims]
(
	[ApplicationUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ApplicationUser_Id]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationUser_Id] ON [dbo].[IdentityUserLogins]
(
	[ApplicationUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ApplicationUser_Id]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationUser_Id] ON [dbo].[IdentityUserRoles]
(
	[ApplicationUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_IdentityRole_Id]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_IdentityRole_Id] ON [dbo].[IdentityUserRoles]
(
	[IdentityRole_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[RolePermissions]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedBy]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBy] ON [dbo].[tbl_BonusAndPenalty]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[tbl_BonusAndPenalty]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UpdatedBy]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_UpdatedBy] ON [dbo].[tbl_BonusAndPenalty]
(
	[UpdatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[tbl_BranchTransfer]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FromBranchId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_FromBranchId] ON [dbo].[tbl_BranchTransfer]
(
	[FromBranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ToBranchId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_ToBranchId] ON [dbo].[tbl_BranchTransfer]
(
	[ToBranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedBy]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBy] ON [dbo].[tbl_Department]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentGroupId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentGroupId] ON [dbo].[tbl_Department]
(
	[DepartmentGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UpdatedBy]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_UpdatedBy] ON [dbo].[tbl_Department]
(
	[UpdatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedBy]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBy] ON [dbo].[tbl_DepartmentGroup]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UpdatedBy]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_UpdatedBy] ON [dbo].[tbl_DepartmentGroup]
(
	[UpdatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[tbl_DepartmentTransfer]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FromDesignationId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_FromDesignationId] ON [dbo].[tbl_DepartmentTransfer]
(
	[FromDesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ToDesignationId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_ToDesignationId] ON [dbo].[tbl_DepartmentTransfer]
(
	[ToDesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedBy]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBy] ON [dbo].[tbl_Designation]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[tbl_Designation]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UpdatedBy]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_UpdatedBy] ON [dbo].[tbl_Designation]
(
	[UpdatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DisciplinaryActionTypeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_DisciplinaryActionTypeId] ON [dbo].[tbl_DisciplinaryAction]
(
	[DisciplinaryActionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[tbl_DisciplinaryAction]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[tbl_Education]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BranchId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_BranchId] ON [dbo].[tbl_Employee]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Code]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Code] ON [dbo].[tbl_Employee]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedBy]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBy] ON [dbo].[tbl_Employee]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DesignationId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_DesignationId] ON [dbo].[tbl_Employee]
(
	[DesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeTypeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeTypeId] ON [dbo].[tbl_Employee]
(
	[EmployeeTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SourceOfHireId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_SourceOfHireId] ON [dbo].[tbl_Employee]
(
	[SourceOfHireId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[tbl_EmployeeSalaryDistribution]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[tbl_Experience]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedBy]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBy] ON [dbo].[tbl_FileStorage]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[tbl_FileStorage]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[tbl_FilterAttendance]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[tbl_Images]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[tbl_LeaveCount]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaveTypeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaveTypeId] ON [dbo].[tbl_LeaveCount]
(
	[LeaveTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[tbl_LeaveHistory]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaveTypeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaveTypeId] ON [dbo].[tbl_LeaveHistory]
(
	[LeaveTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UpdatedBy]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_UpdatedBy] ON [dbo].[tbl_LeaveHistory]
(
	[UpdatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[tbl_MonthlyAttendance]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UpdatedBy]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_UpdatedBy] ON [dbo].[tbl_MonthlyAttendance]
(
	[UpdatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[tbl_MonthlySalarySheet]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaidSalaryDurationId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaidSalaryDurationId] ON [dbo].[tbl_MonthlySalarySheet]
(
	[PaidSalaryDurationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[tbl_PerformanceRating]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PerformanceIssueId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_PerformanceIssueId] ON [dbo].[tbl_PerformanceRating]
(
	[PerformanceIssueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[tbl_PromotionHistory]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FromDesignationId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_FromDesignationId] ON [dbo].[tbl_PromotionHistory]
(
	[FromDesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ToDesignationId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_ToDesignationId] ON [dbo].[tbl_PromotionHistory]
(
	[ToDesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[tbl_Resignation]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UpdatedBy]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_UpdatedBy] ON [dbo].[tbl_Resignation]
(
	[UpdatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BranchId]    Script Date: 10/7/2017 7:37:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_BranchId] ON [dbo].[tbl_Weekend]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IdentityUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserClaims_dbo.ApplicationUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[IdentityUserClaims] CHECK CONSTRAINT [FK_dbo.IdentityUserClaims_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[IdentityUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserLogins_dbo.ApplicationUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[IdentityUserLogins] CHECK CONSTRAINT [FK_dbo.IdentityUserLogins_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[IdentityUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.ApplicationUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[IdentityUserRoles] CHECK CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[IdentityUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.IdentityRoles_IdentityRole_Id] FOREIGN KEY([IdentityRole_Id])
REFERENCES [dbo].[IdentityRoles] ([Id])
GO
ALTER TABLE [dbo].[IdentityUserRoles] CHECK CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.IdentityRoles_IdentityRole_Id]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RolePermissions_dbo.IdentityRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[IdentityRoles] ([Id])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_dbo.RolePermissions_dbo.IdentityRoles_RoleId]
GO
ALTER TABLE [dbo].[tbl_BonusAndPenalty]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_BonusAndPenalty_dbo.tbl_Employee_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[tbl_Employee] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_BonusAndPenalty] CHECK CONSTRAINT [FK_dbo.tbl_BonusAndPenalty_dbo.tbl_Employee_CreatedBy]
GO
ALTER TABLE [dbo].[tbl_BonusAndPenalty]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_BonusAndPenalty_dbo.tbl_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[tbl_Employee] ([Sl])
GO
ALTER TABLE [dbo].[tbl_BonusAndPenalty] CHECK CONSTRAINT [FK_dbo.tbl_BonusAndPenalty_dbo.tbl_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[tbl_BonusAndPenalty]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_BonusAndPenalty_dbo.tbl_Employee_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[tbl_Employee] ([Sl])
GO
ALTER TABLE [dbo].[tbl_BonusAndPenalty] CHECK CONSTRAINT [FK_dbo.tbl_BonusAndPenalty_dbo.tbl_Employee_UpdatedBy]
GO
ALTER TABLE [dbo].[tbl_BranchTransfer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_BranchTransfer_dbo.tbl_Branch_FromBranchId] FOREIGN KEY([FromBranchId])
REFERENCES [dbo].[tbl_Branch] ([Sl])
GO
ALTER TABLE [dbo].[tbl_BranchTransfer] CHECK CONSTRAINT [FK_dbo.tbl_BranchTransfer_dbo.tbl_Branch_FromBranchId]
GO
ALTER TABLE [dbo].[tbl_BranchTransfer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_BranchTransfer_dbo.tbl_Branch_ToBranchId] FOREIGN KEY([ToBranchId])
REFERENCES [dbo].[tbl_Branch] ([Sl])
GO
ALTER TABLE [dbo].[tbl_BranchTransfer] CHECK CONSTRAINT [FK_dbo.tbl_BranchTransfer_dbo.tbl_Branch_ToBranchId]
GO
ALTER TABLE [dbo].[tbl_BranchTransfer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_BranchTransfer_dbo.tbl_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[tbl_Employee] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_BranchTransfer] CHECK CONSTRAINT [FK_dbo.tbl_BranchTransfer_dbo.tbl_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[tbl_Department]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_Department_dbo.tbl_DepartmentGroup_DepartmentGroupId] FOREIGN KEY([DepartmentGroupId])
REFERENCES [dbo].[tbl_DepartmentGroup] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Department] CHECK CONSTRAINT [FK_dbo.tbl_Department_dbo.tbl_DepartmentGroup_DepartmentGroupId]
GO
ALTER TABLE [dbo].[tbl_Department]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_Department_dbo.tbl_Employee_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[tbl_Employee] ([Sl])
GO
ALTER TABLE [dbo].[tbl_Department] CHECK CONSTRAINT [FK_dbo.tbl_Department_dbo.tbl_Employee_CreatedBy]
GO
ALTER TABLE [dbo].[tbl_Department]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_Department_dbo.tbl_Employee_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[tbl_Employee] ([Sl])
GO
ALTER TABLE [dbo].[tbl_Department] CHECK CONSTRAINT [FK_dbo.tbl_Department_dbo.tbl_Employee_UpdatedBy]
GO
ALTER TABLE [dbo].[tbl_DepartmentGroup]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_DepartmentGroup_dbo.tbl_Employee_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[tbl_Employee] ([Sl])
GO
ALTER TABLE [dbo].[tbl_DepartmentGroup] CHECK CONSTRAINT [FK_dbo.tbl_DepartmentGroup_dbo.tbl_Employee_CreatedBy]
GO
ALTER TABLE [dbo].[tbl_DepartmentGroup]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_DepartmentGroup_dbo.tbl_Employee_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[tbl_Employee] ([Sl])
GO
ALTER TABLE [dbo].[tbl_DepartmentGroup] CHECK CONSTRAINT [FK_dbo.tbl_DepartmentGroup_dbo.tbl_Employee_UpdatedBy]
GO
ALTER TABLE [dbo].[tbl_DepartmentTransfer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_DepartmentTransfer_dbo.tbl_Designation_FromDesignationId] FOREIGN KEY([FromDesignationId])
REFERENCES [dbo].[tbl_Designation] ([Sl])
GO
ALTER TABLE [dbo].[tbl_DepartmentTransfer] CHECK CONSTRAINT [FK_dbo.tbl_DepartmentTransfer_dbo.tbl_Designation_FromDesignationId]
GO
ALTER TABLE [dbo].[tbl_DepartmentTransfer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_DepartmentTransfer_dbo.tbl_Designation_ToDesignationId] FOREIGN KEY([ToDesignationId])
REFERENCES [dbo].[tbl_Designation] ([Sl])
GO
ALTER TABLE [dbo].[tbl_DepartmentTransfer] CHECK CONSTRAINT [FK_dbo.tbl_DepartmentTransfer_dbo.tbl_Designation_ToDesignationId]
GO
ALTER TABLE [dbo].[tbl_DepartmentTransfer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_DepartmentTransfer_dbo.tbl_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[tbl_Employee] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_DepartmentTransfer] CHECK CONSTRAINT [FK_dbo.tbl_DepartmentTransfer_dbo.tbl_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[tbl_Designation]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_Designation_dbo.tbl_Department_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[tbl_Department] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Designation] CHECK CONSTRAINT [FK_dbo.tbl_Designation_dbo.tbl_Department_DepartmentId]
GO
ALTER TABLE [dbo].[tbl_Designation]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_Designation_dbo.tbl_Employee_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[tbl_Employee] ([Sl])
GO
ALTER TABLE [dbo].[tbl_Designation] CHECK CONSTRAINT [FK_dbo.tbl_Designation_dbo.tbl_Employee_CreatedBy]
GO
ALTER TABLE [dbo].[tbl_Designation]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_Designation_dbo.tbl_Employee_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[tbl_Employee] ([Sl])
GO
ALTER TABLE [dbo].[tbl_Designation] CHECK CONSTRAINT [FK_dbo.tbl_Designation_dbo.tbl_Employee_UpdatedBy]
GO
ALTER TABLE [dbo].[tbl_DisciplinaryAction]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_DisciplinaryAction_dbo.tbl_DisciplinaryActionType_DisciplinaryActionTypeId] FOREIGN KEY([DisciplinaryActionTypeId])
REFERENCES [dbo].[tbl_DisciplinaryActionType] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_DisciplinaryAction] CHECK CONSTRAINT [FK_dbo.tbl_DisciplinaryAction_dbo.tbl_DisciplinaryActionType_DisciplinaryActionTypeId]
GO
ALTER TABLE [dbo].[tbl_DisciplinaryAction]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_DisciplinaryAction_dbo.tbl_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[tbl_Employee] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_DisciplinaryAction] CHECK CONSTRAINT [FK_dbo.tbl_DisciplinaryAction_dbo.tbl_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[tbl_Education]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_Education_dbo.tbl_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[tbl_Employee] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Education] CHECK CONSTRAINT [FK_dbo.tbl_Education_dbo.tbl_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[tbl_Employee]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_Employee_dbo.tbl_Branch_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[tbl_Branch] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Employee] CHECK CONSTRAINT [FK_dbo.tbl_Employee_dbo.tbl_Branch_BranchId]
GO
ALTER TABLE [dbo].[tbl_Employee]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_Employee_dbo.tbl_Designation_DesignationId] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[tbl_Designation] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Employee] CHECK CONSTRAINT [FK_dbo.tbl_Employee_dbo.tbl_Designation_DesignationId]
GO
ALTER TABLE [dbo].[tbl_Employee]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_Employee_dbo.tbl_Employee_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[tbl_Employee] ([Sl])
GO
ALTER TABLE [dbo].[tbl_Employee] CHECK CONSTRAINT [FK_dbo.tbl_Employee_dbo.tbl_Employee_CreatedBy]
GO
ALTER TABLE [dbo].[tbl_Employee]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_Employee_dbo.tbl_EmployeeType_EmployeeTypeId] FOREIGN KEY([EmployeeTypeId])
REFERENCES [dbo].[tbl_EmployeeType] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Employee] CHECK CONSTRAINT [FK_dbo.tbl_Employee_dbo.tbl_EmployeeType_EmployeeTypeId]
GO
ALTER TABLE [dbo].[tbl_Employee]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_Employee_dbo.tbl_SourceOfHire_SourceOfHireId] FOREIGN KEY([SourceOfHireId])
REFERENCES [dbo].[tbl_SourceOfHire] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Employee] CHECK CONSTRAINT [FK_dbo.tbl_Employee_dbo.tbl_SourceOfHire_SourceOfHireId]
GO
ALTER TABLE [dbo].[tbl_EmployeeSalaryDistribution]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_EmployeeSalaryDistribution_dbo.tbl_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[tbl_Employee] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_EmployeeSalaryDistribution] CHECK CONSTRAINT [FK_dbo.tbl_EmployeeSalaryDistribution_dbo.tbl_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[tbl_Experience]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_Experience_dbo.tbl_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[tbl_Employee] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Experience] CHECK CONSTRAINT [FK_dbo.tbl_Experience_dbo.tbl_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[tbl_FileStorage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_FileStorage_dbo.tbl_Employee_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[tbl_Employee] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_FileStorage] CHECK CONSTRAINT [FK_dbo.tbl_FileStorage_dbo.tbl_Employee_CreatedBy]
GO
ALTER TABLE [dbo].[tbl_FileStorage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_FileStorage_dbo.tbl_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[tbl_Employee] ([Sl])
GO
ALTER TABLE [dbo].[tbl_FileStorage] CHECK CONSTRAINT [FK_dbo.tbl_FileStorage_dbo.tbl_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[tbl_FilterAttendance]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_FilterAttendance_dbo.tbl_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[tbl_Employee] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_FilterAttendance] CHECK CONSTRAINT [FK_dbo.tbl_FilterAttendance_dbo.tbl_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[tbl_Images]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_Images_dbo.tbl_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[tbl_Employee] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Images] CHECK CONSTRAINT [FK_dbo.tbl_Images_dbo.tbl_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[tbl_LeaveCount]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_LeaveCount_dbo.tbl_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[tbl_Employee] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_LeaveCount] CHECK CONSTRAINT [FK_dbo.tbl_LeaveCount_dbo.tbl_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[tbl_LeaveCount]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_LeaveCount_dbo.tbl_LeaveType_LeaveTypeId] FOREIGN KEY([LeaveTypeId])
REFERENCES [dbo].[tbl_LeaveType] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_LeaveCount] CHECK CONSTRAINT [FK_dbo.tbl_LeaveCount_dbo.tbl_LeaveType_LeaveTypeId]
GO
ALTER TABLE [dbo].[tbl_LeaveHistory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_LeaveHistory_dbo.tbl_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[tbl_Employee] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_LeaveHistory] CHECK CONSTRAINT [FK_dbo.tbl_LeaveHistory_dbo.tbl_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[tbl_LeaveHistory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_LeaveHistory_dbo.tbl_Employee_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[tbl_Employee] ([Sl])
GO
ALTER TABLE [dbo].[tbl_LeaveHistory] CHECK CONSTRAINT [FK_dbo.tbl_LeaveHistory_dbo.tbl_Employee_UpdatedBy]
GO
ALTER TABLE [dbo].[tbl_LeaveHistory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_LeaveHistory_dbo.tbl_LeaveType_LeaveTypeId] FOREIGN KEY([LeaveTypeId])
REFERENCES [dbo].[tbl_LeaveType] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_LeaveHistory] CHECK CONSTRAINT [FK_dbo.tbl_LeaveHistory_dbo.tbl_LeaveType_LeaveTypeId]
GO
ALTER TABLE [dbo].[tbl_MonthlyAttendance]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_MonthlyAttendance_dbo.tbl_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[tbl_Employee] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_MonthlyAttendance] CHECK CONSTRAINT [FK_dbo.tbl_MonthlyAttendance_dbo.tbl_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[tbl_MonthlyAttendance]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_MonthlyAttendance_dbo.tbl_Employee_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[tbl_Employee] ([Sl])
GO
ALTER TABLE [dbo].[tbl_MonthlyAttendance] CHECK CONSTRAINT [FK_dbo.tbl_MonthlyAttendance_dbo.tbl_Employee_UpdatedBy]
GO
ALTER TABLE [dbo].[tbl_MonthlySalarySheet]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_MonthlySalarySheet_dbo.tbl_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[tbl_Employee] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_MonthlySalarySheet] CHECK CONSTRAINT [FK_dbo.tbl_MonthlySalarySheet_dbo.tbl_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[tbl_MonthlySalarySheet]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_MonthlySalarySheet_dbo.tbl_PaidSalaryDuration_PaidSalaryDurationId] FOREIGN KEY([PaidSalaryDurationId])
REFERENCES [dbo].[tbl_PaidSalaryDuration] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_MonthlySalarySheet] CHECK CONSTRAINT [FK_dbo.tbl_MonthlySalarySheet_dbo.tbl_PaidSalaryDuration_PaidSalaryDurationId]
GO
ALTER TABLE [dbo].[tbl_PerformanceRating]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_PerformanceRating_dbo.tbl_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[tbl_Employee] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_PerformanceRating] CHECK CONSTRAINT [FK_dbo.tbl_PerformanceRating_dbo.tbl_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[tbl_PerformanceRating]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_PerformanceRating_dbo.tbl_PerformanceIssue_PerformanceIssueId] FOREIGN KEY([PerformanceIssueId])
REFERENCES [dbo].[tbl_PerformanceIssue] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_PerformanceRating] CHECK CONSTRAINT [FK_dbo.tbl_PerformanceRating_dbo.tbl_PerformanceIssue_PerformanceIssueId]
GO
ALTER TABLE [dbo].[tbl_PromotionHistory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_PromotionHistory_dbo.tbl_Designation_FromDesignationId] FOREIGN KEY([FromDesignationId])
REFERENCES [dbo].[tbl_Designation] ([Sl])
GO
ALTER TABLE [dbo].[tbl_PromotionHistory] CHECK CONSTRAINT [FK_dbo.tbl_PromotionHistory_dbo.tbl_Designation_FromDesignationId]
GO
ALTER TABLE [dbo].[tbl_PromotionHistory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_PromotionHistory_dbo.tbl_Designation_ToDesignationId] FOREIGN KEY([ToDesignationId])
REFERENCES [dbo].[tbl_Designation] ([Sl])
GO
ALTER TABLE [dbo].[tbl_PromotionHistory] CHECK CONSTRAINT [FK_dbo.tbl_PromotionHistory_dbo.tbl_Designation_ToDesignationId]
GO
ALTER TABLE [dbo].[tbl_PromotionHistory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_PromotionHistory_dbo.tbl_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[tbl_Employee] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_PromotionHistory] CHECK CONSTRAINT [FK_dbo.tbl_PromotionHistory_dbo.tbl_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[tbl_Resignation]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_Resignation_dbo.tbl_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[tbl_Employee] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Resignation] CHECK CONSTRAINT [FK_dbo.tbl_Resignation_dbo.tbl_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[tbl_Resignation]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_Resignation_dbo.tbl_Employee_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[tbl_Employee] ([Sl])
GO
ALTER TABLE [dbo].[tbl_Resignation] CHECK CONSTRAINT [FK_dbo.tbl_Resignation_dbo.tbl_Employee_UpdatedBy]
GO
ALTER TABLE [dbo].[tbl_Weekend]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tbl_Weekend_dbo.tbl_Branch_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[tbl_Branch] ([Sl])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Weekend] CHECK CONSTRAINT [FK_dbo.tbl_Weekend_dbo.tbl_Branch_BranchId]
GO
USE [master]
GO
