@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="register-wrapper">
    <div id="register" class="login loginpage col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
        <div class="panel panel-primary">
            <div class="panel-heading" style="text-align:center; font-size:18px">Contact Us</div>
            <div class="panel-body">
                <label style="color:black; text-align:center">
                    Capita House 11
                    <br />
                    Plot # 3, Road # 27, Block # J, Banani,
                    <br />
                    Dhaka # 1213, Bangladesh
                </label>
                <label style="color:black; text-align:center">
                    <u>HOTLINE</u>
                </label>
                <label style="color:black; text-align:center">
                    +8801937990909
                    <br />
                    ‎+8802-55034033
                </label>
                <label style="color:black; text-align:center">
                    <u>Ask a Question</u>
                </label>
                <label style="color:black; text-align:center;text-transform: lowercase;">
                    ekram@capitagroupbd.com
                </label>
                <div class="panel panel-primary">
                    <div class="panel-heading primary" style="text-align:center; font-size:18px">Map</div>
                    <iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.587969637423!2d90.4048365144472!3d23.79768238456607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c70f44cdd127%3A0x5c029bdb13dc7805!2sCapita+House+11%2C+Rd+No+27%2C+Dhaka+1213!5e0!3m2!1sen!2sbd!4v1483854541792" allowfullscreen="allowfullscreen" width="100%" height="230" frameborder="0"></iframe>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-12 text-center register-social">
            <a href="https://www.facebook.com/capitagroup" class="btn btn-primary btn-lg facebook"><i class="fa fa-facebook icon-sm"></i></a>
            <a href="https://twitter.com/capitagroupbd" class="btn btn-primary btn-lg twitter"><i class="fa fa-twitter icon-sm"></i></a>
        </div>
    </div>
</div>

