

<div class='quick-area row'>
    <div class='pull-left col-md-3'>
        <ul class="info-menu left-links list-inline list-unstyled">
            <li class="sidebar-toggle-wrap">
                <a href="#" data-toggle="sidebar" class="sidebar_toggle">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
            <li class="">
                @Html.Partial("~/Views/Shared/Notification.cshtml")
            </li>

        </ul>
    </div>
    <div class="col-md-6">
        <img src="/Content/AdminTemplate/assets/images/login-logo.png" class="img-responsive center-block" style="height: 60px">
    </div>
    <div class='pull-right col-md-3 text-right'>
        <ul class="info-menu right-links list-inline list-unstyled">
            <li class="profile" style="padding-left: 106px">
                <a href="#" data-toggle="dropdown" class="toggle">

                    <span>@User.Identity.Name <i class="fa fa-angle-down"></i></span>
                </a>
                <ul class="dropdown-menu profile animated fadeIn">
                    <li>
                        <a href="@Url.Action("ProfileInfo", "Account")">
                            <i class="fa fa-user"></i>
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("LogOff", "Account")">
                            <i class="fa fa-lock"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>