@if (TempData["SuccessMsg"] != null)
{
    <div class="alert alert-success alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["SuccessMsg"]
    </div>
}
@if (TempData["WarningMsg"] != null)
{
    <div class="alert alert-danger alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["WarningMsg"]
    </div>
}
