
@if (TempData["message"] != null)
{
    string receivedMessage = TempData["message"].ToString();
    string message = receivedMessage.Substring(1);
    if (receivedMessage.StartsWith("0"))
    {

        <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @message
        </div>
    }
    else
    {
        <div class="alert alert-success alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @message
        </div>
    }
}